*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: black
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}





/* header ШАПКА*/
.header {

    background: #ffffff;
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    
}


.logo {
    display: flex;
    min-width: 265px;

}


.logo__img {
    width: 60px;
    height: 70px;
}


.logo__breed {
    font-weight: 700;
    padding-right: 20px;
}

.logo__name {
    font-style: italic;
    text-align: right;
    margin-right: 20px;
}

.nav {
    text-transform: uppercase;
    font-size: 15px;
    min-width: 396px;
    display: flex;
    align-items: center;

}

.nav__link {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
}

/* hover наведение мыши */

.active {
    background: #d0a5a5;
    color: white;
}

/*   portfolio блок ПОРТФОЛИО  */

.portfolio__name,
.about__me__name {
    font-size: 25px;
    text-align: center;
    display: block;
    margin-top: 50px;
}

.portfolio__text,
.about__me__text {
    font-size: 15px;
    text-align: center;
    display: block;
    margin-top: 10px;
}

.portfolio__img__icon {
    width: 100px;
    border-radius: 50%;

}

.portfolio__nav {

    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.portfolio__nav__link {
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    text-decoration: none;
    margin: 0 10px;
    background: #d0a5a5;
}

.active__nav {
    background: #a97b7b;
}

.portfolio__img {

    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio__img__icon {
    width: 25%;
    min-width: 70px;
    max-width: 100px;
    margin: 10px;
}

/* блок CARDS*/

h1 {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
}

.text__about__me__cards__coment__01,
.text__about__me__cards__coment__02 {
    font-size: 15px;

}

.text__about__me__cards__coment__01 {
    font-style: italic;
}

.text__about__me__cards__coment__02 {
    padding-top: 30px;

}

.about__me {
    background: #a97b7b;
}

.about__me__name {
    padding-top: 50px;
   
    font-size: 25px;
    color: #ffffff;
}

.about__me__text {
    text-align: center;
}



.about__me__cards {

    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    color: black;


}

.img_about__me__cards {

    width: 200px;
    width: 100%;
    border-radius: 10%;
    display: block;


}

.about__me__cards__01 {
    background: #ffffff;
    margin: 35px;
    max-width: 300px;
    min-width: 150px;
    padding: 15px;
}

.about__me__cards__02 {
    background: #ffffff;
    margin: 35px;
    max-width: 300px;
    min-width: 150px;
    padding: 15px;
}


.about__me__cards__03 {
    background: #ffffff;
    margin: 35px;
    max-width: 300px;
    min-width: 150px;
    padding: 15px;
}