/* ФОРМА ОБРАТНОЙ СВЯЗИ */

.form-contact {
    display: flex;
    justify-content: center;
    margin: 40px 70px 0 70px;
    min-width: 600px;
}

.form__field {
    width: calc(100% - 300px);
    max-width: 700px;
}

.form__field-input {
    display: flex;
}

.form__name,
.form__email {
    width: 50%;
    padding: 10px;
    outline: none;
    border: 2px solid rgb(161, 159, 159);
    
}

.form__name {
    margin-right: 10px;
}

.form__email {
    margin-left: 10px;
}

.form__message {
    width: 100%;
    height: 150px;
    resize: none;
    outline: none;
    border: 2px solid rgb(161, 159, 159);
    font-family: sans-serif;
    padding: 10px;
    margin-top: 20px;
    vertical-align: middle;
}

.form__field ::placeholder {
    font-style: italic;
}

.form__press {
    float: right;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    text-decoration: none;
    background: #d0a5a5;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 20px;
    border: 2px solid rgb(161, 159, 159);
}

.form__field input:focus {
    border-color: black;
}

.form__field textarea:focus {
    border-color: black;
}

.info__title {
    display: block;
    padding-left: 47px;
}

.info__list-contact {
    display: grid;
    grid-template-columns: 32px 1fr;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 15px;
}

.info__map,
.info__map:visited {
color: #a97b7b;
text-decoration: none;
}

.info__map:hover {
    color: #684444fa;
}